@import './variables';
@import './modules/layout';
@import './modules/navbar';

@import url('https://fonts.googleapis.com/css?family=monospace&display=swap');
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
html {
    font-family: 'Fira Code', monospace;
    background: black;
    color: whitesmoke;
}