.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0rem;
  font-size: 0; //to get rid of the funky spaces
  background-color: gray;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.navbar__menu {
  align-content: center;
  text-align: center;
  flex: max-content;
  @media screen and (max-width: $desktop) {
    display: none;
    flex-direction: column;
  }
}
.navbar__menu--active {
  display: flex;
  margin-top: 3.5rem;
}

.navbar__icon {
  align-content: left;
  text-align: left;
}

.navbar__lang {
  align-content: right;
  text-align: right;
  @media screen and (max-width: $desktop) {
    display: none;
    flex-direction: column;
  }
}


.navbar__item {
  align-content: center;
  font-size: 2rem;
  color:inherit;
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
}

.navbar__clickable {
  padding: 0rem 0.75rem;
}

.navbar__clickable:hover {
  background-color: whitesmoke;
  color: Black;
}

.navbar__clickable:hover {
  background-color: whitesmoke;
  color: Black;
}

.navbar__clickable:active:focus {
  background-color: white;
  color: black;
}


.burger__menu {
  width: 100%;
  align-content: center;
  text-align: center;
  flex: max-content;
  @media screen and (min-width: $desktop){
    display: none;
  }
  // Don't show the checkbox
  > input {
    display: none;
    float: right;
  }
  // Don't show the Span
  > span {
    > * {
      display: none;
      width: 80%; //TODO figure out some proper way to set width
    }        
  }
  > input:checked ~ label + span {
    > * {
      color: black;
      display: block;
    }
  }
}

.burger {
  font-size: 30px;
  display: block;
  float: right;
  width: $burger-size;
  padding: $burger-size / 2;
  padding-top: $burger-size * 0.75;
  background-image: url("~assets/svg/burger.svg");
  background-repeat: no-repeat; //remove oneday
  filter:invert(100%);
}

.burger:hover {
  // filter:invert(0%);
}
